<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="style.css"/>

</head>
<body>
<div ng-app="xpro" class="md-menu-demo">
    <md-toolbar class="md-blue">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">XPRO - tasks solutions</h2>

        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <md-card ng-controller="EquationCtrl">
            <md-card-title>
                <md-card-title-text>1st task</md-card-title-text>
            </md-card-title>
            <form name="form" ng-model="form" ng-submit="submit()">
                <md-card-content>
                    <div layout="row">
                        <div layout="column" flex="70">
                            <md-input-group>
                                <md-input-container>
                                    <label>Value A</label>
                                    <input type="number" required name="a" ng-model="a"/>
                                </md-input-container>
                                <div class="inline">* x +</div>
                                <md-input-container>
                                    <label>Value B</label>
                                    <input type="number" required name="b" ng-model="b"/>
                                </md-input-container>
                                <div class="inline"> = 0</div>
                            </md-input-group>
                        </div>
                        <div layout="column" flex>
                            <p style="font-size:36px">{{result}}</p>
                        </div>
                    </div>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button type="submit" ng-disabled="!form.$valid">Calculate</md-button>
                    </md-card-actions>
                </md-card-content>
            </form>
        </md-card>
        <md-card ng-controller="XMLParseCtrl">
            <md-card-title>
                <md-card-title-text>2nd task</md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="list">
                        <md-list>
                            <md-subheader><b>2nd level elements</b></md-subheader>

                            <md-list-item ng-repeat="book in json"><h3>{{book.element}}, children:
                                {{book.childrenCount}}</h3></md-list-item>
                        </md-list>
                    </md-tab>
                    <md-tab label="json">
                        <div>
                            <pre>{{json}}</pre>
                        </div>
                    </md-tab>
                </md-tabs>
                <md-input-container md-is-error="invalidxml" md-auto-hide="true" layout-align="center" layout-fill
                                    style="width:100%" flex="70">

                    <label>Put xml here</label>
                    <h5 ng-show="invalidxml" class="red">invalid xml</h5>
                    <textarea class="code" ng-model="xmlInput"></textarea>

                </md-input-container>
            </md-card-content>
        </md-card>
    </md-content>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="app/services/XMLProcessor.js"></script>
<script src="app/controllers/XMLParseCtrl.js"></script>
<script src="app/controllers/EquationCtrl.js"></script>
<script src="app/app.js"></script>
</body>

</html>
